<html>
<head>
    <title>
        chikara's first django page
    </title>
    <meta http-equiv="content-type" charset="utf-8"><meta http-equiv="content-type" charset="utf-8">
</head>
<body>
    <div>
        <h1><a href="/">chikara's first django page</a></h1>
    </div>
    <div>
        <p>published: 01/02/2020</p>
        <h2><a href="">my first post</a></h2>
        <p>こんにちは！よろしくおねがいします！</p>
    </div>
    <div>
        <p>published: 01/03/2020</p>
        <h2><a href="">my second post</a></h2>
        <p>こんばんは！さむいですね！</p>
    </div>
</body>
</html>